<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="/home" />
            </rewriteMaps>
            <rules>
                <rule name="Umschreibregel1 für /home">
                    <match url="test_aa" />
                    <conditions>
                        <add input="/test_aa" pattern="test_aa" />
                    </conditions>
                    <action type="Rewrite" url="{C:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <handlers>
            <remove name="PHP Scripting" />
            <add name="PHP Scripting" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="T:\Programme\PHP_8_5_5\php-cgi.exe" resourceType="File" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
