/src/1
/src/2
*.pyc
/src/build
src/dist/d64_dism.zip
src/dist/d64_dism.exe
/build/d64_dism
dist/d64_dism.exe
dist/d64_dism.zip
/dist
*.wav
src/examples/amiga/bitmap_text_c.adf
src/examples/amiga/bitmap_text_pascal.adf
src/examples/amiga/blitter_green.adf
src/examples/amiga/hello_pascal.adf
src/examples/c_advanced/advanced_types.adf
src/examples/c_link/main.adf
src/examples/graphics/graphics_demo.adf
src/examples/import_exit.exe
src/examples/import_exit.o
src/examples/minimal_pe32.exe
src/examples/minimal_pe32.o
src/examples/pe32/archive_linked.exe
src/examples/pe32/archive_main.o
src/examples/pe32/archive_math.o
src/examples/pe32/pe32_stackframe.exe
src/examples/pe32/pe32_stackframe.o
src/examples/stackframe.exe
src/examples/two_objects.exe
src/examples/dbase/variables_debug.o
src/examples/dbase/variables_debug.exe
src/examples/dbase/print_expr.exe
src/examples/dbase/print_expr.o
src/examples/dbase/embedded_console_debug.o
src/examples/dbase/embedded_console_debug.exe
src/examples/dbase/comments_only.o
src/d64qt5/release/Unbenannt_7.exe
src/d64qt5/release/d64qt5_bridge.o
src/d64qt5/release/libd64qt5.a
src/d64qt5/release/d64qt5.dll
src/d64qt5/Makefile.Debug
src/d64qt5/Makefile.Release
src/d64qt5/Makefile
src/examples/dbase/color_rgb_stage15.o
src/examples/dbase/qt5_bridge_stage12.o
src/examples/dbase/menu_file_stage13.o
src/examples/dbase/menu_class_stage13.o
src/examples/dbase/conditions_stage10.o
src/examples/dbase/login_dialog_stage25.o
src/examples/dbase/menu_default_stage24.o
src/examples/dbase/session_windows_stage21.o
src/examples/dbase/shutdown_cleanup_stage29.o
*.exe
*.o
*.dll
src/md/_bridge_a.txt
src/md/_bridge_b.txt
